<section class="footer-container">
  <div class="footer-container">
    <a class="btn-links" href="https://www.instagram.com">
      <img
        class="social-medias"
        [src]="'assets/links/instagram.svg'"
        alt="Instagram"
      />Instagram</a
    >
    <a class="btn-links" href="https://en.wikipedia.org/wiki/Website">
      <img
        class="social-medias"
        [src]="'assets/links/website-svgrepo-com.svg'"
        alt="Website"
      />Website</a
    >
    <a class="btn-links" href="https://twitter.com ">
      <img
        class="social-medias"
        [src]="'assets/links/twitter-svgrepo-com.svg'"
        alt="twitter"
      />Twitter</a
    >
    <a class="btn-links" href="https://www.linkedin.com">
      <img
        class="social-medias"
        [src]="'assets/links/linkedin-svgrepo-com (1).svg'"
        alt="LinkedIn"
      />LinkedIn</a
    >
  </div>
</section>
