<div class="body-ubber-container">
  <section class="body-container">
    <div class="introduction-container">
      <img
        class="profile-pic"
        [src]="'assets/profile.png'"
        alt="profile-picture"
      />
      <h2>Hello</h2>
      <p>
        I'm a Front-End developer, and I work with libraries like Angular /
        React. I love Coffee and Dogs.
      </p>
    </div>
    <hr />
    <div class="skills-container">
      <h2 id="skl">My skills</h2>

      <div class="inside-skill-container">
        <img
          class="js-image"
          [src]="'assets/javascript-svgrepo-com.svg'"
          alt="JavaScript"
        />
        <div>
          <h3 class="skill-description">JavaScript</h3>
          <p class="js-description">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Voluptatibus, earum? Lorem ipsum dolor sit amet consectetur
            adipisicing.
          </p>
        </div>
      </div>

      <div class="inside-skill-container">
        <img
          class="ts-image"
          [src]="'assets/typescript.svg'"
          alt="typescript"
        />
        <div>
          <h3 class="skill-description ts-heading">Typescript</h3>
          <p class="ts-description">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Voluptatibus, earum? Lorem ipsum dolor sit amet.
          </p>
        </div>
      </div>

      <div class="inside-skill-container">
        <img
          class="testing-image"
          [src]="'assets/test-svgrepo-com.svg'"
          alt="testing"
        />
        <div>
          <h3 class="skill-description testing-heading">Testing</h3>
          <p class="ts-description">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Voluptatibus, earum? Lorem ipsum dolor sit amet.
          </p>
        </div>
      </div>

      <div class="inside-skill-container">
        <img
          class="angular-image"
          [src]="'assets/angular-svgrepo-com.svg'"
          alt="Angular"
        />
        <div>
          <h3 class="skill-description testing-heading">Angular</h3>
          <p class="ts-description">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Voluptatibus, earum? Lorem ipsum dolor sit amet.
          </p>
        </div>
      </div>


    </div>
    <hr />

    <div class="my-hobbies-container">
      <h2>My hobbies</h2>
      <div class="inside-skill-container">
        <img
          class="d-image"
          [src]="'assets/cube-3d-svgrepo-com.svg'"
          alt="testing"
        />
        <div>
          <h3 class="skill-description testing-heading">3D - Graphics</h3>
          <p class="ts-description">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Voluptatibus, earum? Lorem ipsum dolor sit amet.
          </p>
        </div>
      </div>

      <div class="inside-skill-container">
        <img
          class="running-image"
          [src]="'assets/person-running-light-skin-tone-svgrepo-com.svg'"
          alt="testing"
        />
        <div>
          <h3 class="skill-description testing-heading">Running</h3>
          <p class="ts-description">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Voluptatibus, earum? Lorem ipsum dolor sit amet.
          </p>
        </div>
      </div>
    </div>
    <hr />
    <div class="getInTouch-container">
      
      
      <h2 id="git">Get In Touch</h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates ipsum
        molestiae nobis quis iste animi dolor eum et necessitatibus pariatur.
      </p>
      <img
      class="testing-image"
      [src]="'assets/postman.gif'"
      alt="testing"
    />
      <button class="btn-contact-me">Contact Me!</button>
    </div>
  </section>
</div>
